/* Fonts grabbed from Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

/* Title, Subtitle Styling */
.titles { 
  font-family: 'Proza Libre', sans-serif; 
  font-size: x-large;
  color:#b4786b
}

/* General Text Styling */
.text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  color:white
}